<!--cuarpo del body-->
<div class="contenedor head">
    <img src="img/logo.png" alt="">
    <h1>Convertimos tus necesidades en nuestras prioridades</h1>
    <p class="copy"></p>
</div> 
<section class="services contenedor" id="servicio">
    <h2 class="subtitulo">Nuestro servicio</h2>
    <div class="contenedro servicio">
        <img src="~~/png/checklist.png" alt="">
    </div>

</section>